bidict==0.23.1
blinker==1.8.2
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
decorator==4.4.2
Flask==3.0.3
Flask-SocketIO==5.3.6
h11==0.14.0
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
moviepy==1.0.3
numpy==1.24.4
Pillow==9.4.0
python-engineio==4.3.3
python-socketio==5.3.0
requests==2.31.0
urllib3==2.0.4
